@font-face {
  font-family: Berserker-Regular;
  src: url('../fonts/Berserker-Regular.otf');
}

body, html {
  font-family: 'Nunito', sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* Estiliza a navbar */

nav.navbar{
  padding-top: 0px; 
  font-family: Berserker-Regular;
}

img.logoTopo{
  background: transparent; 
  height: 45px;
}

/* Configura Home */

#start{
  background: url(../img/God_of_War/01.png) no-repeat center center; 
  -webkit-background-size: cover; 
  background-size: cover;
  font-family: Berserker-Regular
}

.infoTopo{
  width: 35%; 
  background-color: transparent; 
  border-color: transparent
}

.boxTopo{
  padding-top: 11%; 
  margin-left:14%;
}

 /* Configura o Particle JS */

#particles-js, #start {
  height: 100vh;
  width: 100vw;
  display: table;
  table-layout: fixed;
}

#particles-js {
  position: absolute;
  left: 0;
  top: 0;
}

/* Estilização do Formulário de Contato */

#contato {
  height: 100%;
}

.contact-form{
    background: #fff;
    width: 100%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: rgb(135, 27, 27);
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: rgb(135, 27, 27);
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.campoTexto{
  width: 100%; 
  height: 150px !important;
}

.mapa{
  width: 500px; 
  height: 370px; 
  border-radius: 20px; 
}

/* Estilização do Footer */

footer {
  position: relative;
  left: 0;
  bottom: 0;
  height: 5%;
}

footer > p {
  font-family: Berserker-Regular; 
  font-size: 12px; 
  margin-bottom: 0;
}

/* Configura a navbar em telas menores */

@media screen and (min-width: 768px) {
  .navbar-fixed-top.scrolled {
    background: rgba(0, 0, 0, 0.7);
    opacity: 0.8;
    height: 70px;
  }

  #navmenu.navbar-collapse.collapse ul li a:hover{
      color: rgb(135, 27, 27);
  }

  #navmenu.navbar-collapse.collapse ul li a:hover{
    border-bottom: 2px solid rgb(135, 27, 27);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
}

@media screen and (max-width: 767px) {
  .navbar-fixed-top {
    background: rgba(0, 0, 0, 0.7);
    opacity: 0.8;
    height: 70px;
  }
  .btnContact{
    width: 100% !important;
  }
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.collapse-background {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.8;
}

