@font-face{
    font-family: Berserker-Regular;
    src: url('../fonts/Berserker-Regular.otf');
}

#nav-main {
    top: 0;
    position: fixed;
    z-index: 9999;
    width: 100%;
}

.navbar-brand {
    color: transparent !important;
    pointer-events: none;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body, html{
    font-family: 'Nunito', sans-serif;
}

/* Estiliza a navbar */

nav.navbar{
    padding-top: 0px;
    font-family: Berserker-Regular;
}

img.logoTopo{
    background: transparent;
    height: 45px;
}

.custom-toggler.navbar-toggler {
    border-color: #fff;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.collapse-background{
    background: rgba(0, 0, 0, 0.7);
    opacity: 0.8;
}

/* Configura a Home */

#start{
    background: url(../img/God_of_War/01.png) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: Verdana;
}

.infoTopo{
    width: 40%;
    background-color: transparent;
    border-color: transparent;
}

.boxEsquerdo{
    padding-top: 5%;
    margin-left: 10%;
}

.boxDireito{
    padding-top: 5%;
    margin-left: 10%;
}

/* Configura o Particle JS */

#particles-js, #start, #about, #news {
    height: 100vh;
    width: 100vw;
    display: table;
    table-layout: fixed;
}

#particles-js {
    position: absolute;
    left: 0;
    top: 0;
}

/* Configura o Sobre*/

#about{
    background: url(../img/God_of_War/sobre.png) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: Berserker-Regular;
}

/* Configura o Novidades*/
#news{
    background: url(../img/God_of_War/novidades.png) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: Berserker-Regular;
}

#carouselControls{
    padding-top: 10%;
    margin-left: 10%;
}

/* Estilização do Formulário de Contato */

#contato {
    height: 100%;
}

.contact-form{
    background: #fff;
    width: 100%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #98140d;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #98140d;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.campoTexto{
    width: 100%;
    height: 150px !important;
}

.mapa{
    border-radius: 20px;
}

/* Estilização do Footer */
footer{
    background-color: Black;
}

.linhaDivisao{
    margin: 0% 15%;
    height:1px;
    border:none;
    color:  #98140d;
    background-color:  #98140d;
}

/* Configura a navbar em telas menores */

@media screen and (min-width: 768px) {
    .navbar-fixed-top.scrolled {
        /*background: rgba(0, 0, 0, 0.7);*/
        opacity: 0.8;
        height: 70px;
    }

    .mapa{
        width: 500px;
        height: 370px;
        border-radius: 20px;
    }

    #carouselControls{
        width: 450px;
    }

    #navmenu.navbar-collapse.collapse ul li a:hover{
        color: #98140d;
    }

    #navmenu.navbar-collapse.collapse ul li a:hover{
        border-bottom: 2px solid #98140d;
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
}

@media screen and (max-width: 767px) {
    .navbar-fixed-top {
        background: rgba(0, 0, 0, 0.7);
        opacity: 0.8;
        height: 70px;
    }
    .btnContact{
        width: 100% !important;
    }
}