@font-face {
  font-family: Berserker-Regular;
  src: url('../fonts/Berserker-Regular.otf');
}

body, html {
  font-family: 'Nunito', sans-serif;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  height: 5%;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js, #start {
  height: 100vh;
  width: 100vw;
  display: table;
  table-layout: fixed;
}

#particles-js {
  position: absolute;
  left: 0;
  top: 0;
}

#sobre, #noticias, #contato {
  height: 100%;
}

#sobre {
  background: url(../img/God_of_War/03.png) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}

#noticias {
  background: url(../img/God_of_War/04.png) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}

#contato {
  background: url(../img/God_of_War/08.png) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .navbar-fixed-top.scrolled {
    background: lightskyblue;
    opacity: 0.8;
    height: 70px;
  }

  #navmenu ul li a:hover{
      color: rgb(135, 27, 27);
  }

  #navmenu ul li a:hover{
    border-bottom: 2px solid rgb(135, 27, 27);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
}

@media screen and (max-width: 767px) {
  .navbar-fixed-top {
    background: lightskyblue;
    opacity: 0.8;
    height: 70px;
  }
}